var DateFr = {

  getDate: function (time, splitStr, flagsStr, blankStr) {

 if (!time) return '';

 var date =getDate(time);
 var M = date.getMonth() + 1;
 var y = date.getFullYear();
 var d = date.getDate();
 var h = date.getHours();
 var min = date.getMinutes();
 var s = date.getSeconds();

 if (M < 10) M = "0" + M;
 if (d < 10) d = "0" + d;
 if (h < 10) h = "0" + h;
 if (min < 10) min = "0" + min;
 if (s < 10) s = "0" + s;

 if (splitStr)
 return y +splitStr + M +splitStr+d +blankStr +h +flagsStr+min +flagsStr+s;
 else
   return {
     y: y,
     M: M,
     d: d,
     h: h,
     min: min,
     s: s
   };
   }
 }

 module.exports = {
   getDate: DateFr.getDate
 }